<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <import resource="classpath:db/datasource.xml" />
    <import resource="classpath:db/jdbcTemplate.xml" />
    <import resource="classpath:db/jpa.xml" />
    <import resource="classpath:spring/component.xml" />
    <!-- 
     -->
    <import resource="classpath:spring/security.xml" />
    <import resource="classpath:spring/operation.xml" />
    <!-- audit log -->
    <import resource="classpath:spring/auditlog.xml" />
    <!-- batch -->
    <import resource="classpath:batch/batch.xml" />
    <!-- web socket -->
    <import resource="classpath:websocket/websocket.xml" />
    <!-- captcha -->
    <import resource="classpath:spring/captcha.xml" />
    <!-- report -->
    <import resource="classpath:report/report.xml" />
</beans>