.mainBody {
  margin: 0 auto;
  width: 60%;
  font-size: 100%;
}

.mainBody img {
  width: 100%;
}

.footer {
  border-top: 1px solid #ccc;
}

.copyright {
  text-align: right;
  font-size: 12px;
}

.orangeBtn {
  background-color: #f68b1f;
  padding: 6px 0;
  border: 3px solid #f68b1f;
  font-size: 1.25rem;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 14px;
}

.sendbtn {
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  width: auto;
  height: 33px;
  text-align: center;
  background: #FF9800;
  cursor: pointer;
}

.mainBody input {
  width: 30%;
  margin: 0 auto 10px;
  border: 1px solid #d7d7d7;
  height: 34px;
  font-size: 16px;
}