body {
  background-color: gray;
}

#msg {
  display: none;
}

.horizontalCenter {
  display: flex;
  justify-content: center;
}

#description>* {
  background-color: white;
  width: 550px;
}

#canvasArea {
  margin: 10px;
}

#mainCanvas {
  width: 550px;
  height: 250px;
  background-color: white;
  border-style: solid;
  border-color: blue;
}

#btnArea>button {
  background-color: white;
}

#btnArea :nth-child(n+1) {
  margin-left: 10px;
}