div.dataTables_wrapper div {
  &.dataTables_filter {
    text-align: right;
    input {
      margin-left: 0.5em;
    }
  }
  &.dataTables_info {
    padding-top: 10px;
    white-space: nowrap;
  }
  &.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  &.dataTables_paginate {
    text-align: right;
  }
  &.mdl-grid.dt-table {
    padding-top: 0;
    padding-bottom: 0;
    > div.mdl-cell {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

table.dataTable thead {
  > tr > {
    th {
      &.sorting_asc, &.sorting_desc, &.sorting {
        padding-right: 30px;
      }
    }
    td {
      &.sorting_asc, &.sorting_desc, &.sorting {
        padding-right: 30px;
      }
    }
    th:active, td:active {
      outline: none;
    }
  }
  .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
  }
  .sorting {
    &:before, &:after {
      position: absolute;
      bottom: 11px;
      display: block;
      opacity: 0.3;
      font-size: 1.3em;
    }
  }
  .sorting_asc {
    &:before, &:after {
      position: absolute;
      bottom: 11px;
      display: block;
      opacity: 0.3;
      font-size: 1.3em;
    }
  }
  .sorting_desc {
    &:before, &:after {
      position: absolute;
      bottom: 11px;
      display: block;
      opacity: 0.3;
      font-size: 1.3em;
    }
  }
  .sorting_asc_disabled {
    &:before, &:after {
      position: absolute;
      bottom: 11px;
      display: block;
      opacity: 0.3;
      font-size: 1.3em;
    }
  }
  .sorting_desc_disabled {
    &:before, &:after {
      position: absolute;
      bottom: 11px;
      display: block;
      opacity: 0.3;
      font-size: 1.3em;
    }
  }
  .sorting:before, .sorting_asc:before, .sorting_desc:before, .sorting_asc_disabled:before, .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
  }
  .sorting:after, .sorting_asc:after, .sorting_desc:after, .sorting_asc_disabled:after, .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
  }
  .sorting_asc:before, .sorting_desc:after {
    opacity: 1;
  }
  .sorting_asc_disabled:before, .sorting_desc_disabled:after {
    opacity: 0;
  }
}