// @import "main.scss";

/* menu */

#menu {
  padding: 0 0 0 20px;
  background: url("../images/menu/menu_bg.gif") repeat-x left top;
  height: 32px;
  border-bottom: 1px solid #0B1D35;
  /*border-top: 1px solid #0B1D35;*/
}

#menu_header {
  padding: 0 0 0 20px;
  background: url("../images/menu/menu_bg.gif") repeat-x left top;
  height: 5px;
}

#menu {
  dd,
  dt {
    float: left;
    height: 32px;
    overflow: hidden;
  }
  b {
    color: #464646;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 6px 6px;
    display: inline-block;
  }
  dd {
    padding: 0;
    margin: 0;
    background: url("../images/menu/menu.gif") repeat-x left top;
    &.mLeft-move-btn {
      padding: 4px 3px 3px;
      margin: 0;
      background: none;
      a {
        border: 0;
        padding: 0;
        &:hover {
          background: none;
        }
      }
    }
    &.subsystem {
      background: none;
      padding: 5px 0 5px 5px;
      margin: 0;
    }
  }
}

.subsystem-select {
  float: right;
}

#menu {
  a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    height: 32px;
    border: 1px #808080 solid;
    padding: 0 10px;
    &:hover {
      background: url("../images/menu/menu_hover2.gif") repeat-x left top;
    }
    &.current {
      background: url("../images/menu/menu_current.gif") repeat-x left top;
    }
    &.current b,
    &:hover b {
      color: #ffffff;
    }
  }
  b.current {
    color: #494949;
  }
}


/* Layout-------------------------------- */

.bottomFrame {
  width: 100%;
  height: 451px;
}

#leftFrame {
  vertical-align: top;
  width: 190px;
  margin: 0 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

#mainFrame {
  vertical-align: top;
  min-width: 730px;
  padding: 5px;
  min-height: 600px;
}

#leftFrame {
  .menu2top {
    background: url("../images/menu/subMenu_top.gif") no-repeat;
    height: 10px;
    margin: 5px 0 0 5px;
  }
  .menu2bottom {
    background: url("../images/menu/subMenu_bottom.gif") no-repeat;
    height: 10px;
    margin: 0 0 5px 5px;
  }
  a {
    text-decoration: none;
  }
}

#goMainHome {
  background: url("../images/menu/mLeft-home-btn2.gif");
  padding-top: 5px;
  display: block;
  color: #f7f7f7;
  font-weight: bold;
  *padding-top: 1px no-repeat;
  height: 35px;
  margin: 0 0 0 5px;
  text-align: center;
}

#gohome {
  font-weight: bold;
  margin: 0 auto;
  display: block;
  width: 120px;
  height: 34px;
  background: url("../images/menu/btn_back.gif") no-repeat;
  color: #000;
  cursor: pointer;
}


/* mLeft Div styles */

#mLeft {
  width: 181px;
  height: 430px;
  border: 1px solid #CCC;
  border-top: 0;
  margin: -1px 5px 0;
  overflow: auto;
}


/**
 * Menu2
 */

#menu2 {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
  font-weight: bold;
  color: #000000;
  line-height: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    border-bottom: 1px dotted #CCC;
    &.selected {
      color: #FF0000;
      /*FF0000*/
    }
  }
  a {
    color: #000000;
    text-decoration: none;
    display: block;
    font-size: 14px;
    &:hover {
      color: #FF0000;
      background-color: #F0F6F8;
      /* #E6ECF6*/
      /*f0f6f8*/
      background-color: #F1F2F2;
    }
    &.selected {
      color: #FF0000;
    }
    &.clicked {
      .icon-4 {
        background-position: 0 -100px;
      }
      .icon-1 {
        background-position: 0 -50px;
      }
      .icon-3 {
        background-position: 0 0;
      }
    }
  }
  .menu_sub {
    margin-left: 22px;
    margin-top: 0;
    line-height: 22px;
    font-weight: normal;
    display: none;
  }
}


/* -------------*/


/* -------------*/


/* -------------*/

.menu-icon {
  vertical-align: middle;
  height: 22px;
  width: 22px;
  display: inline-block;
}

.icon-1 {
  /*background-position: 0 0;*/
  background: url(../images/closed.gif) no-repeat left 1px;
}

.icon-2 {
  background-position: 0 -25px;
}

.icon-3 {
  background-position: 0 -50px;
}

.icon-4 {
  background-position: 0 -75px;
}

.icon-5 {
  /*background-position: 0 -100px;*/
  background: url(../images/open.gif) no-repeat left 1px;
}

.sub {
  @media screen and (max-width: 768px) {
    width: initial;
    float: clear;
  }
}


/* For jqGrid */

.clear-margin {
  margin: 0 !important;
}

nav.sub {
  /* width: auto !important; */
  ul {
    margin: 0 0 -4 -4px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-collapse.collapse {
    display: block !important;
  }
}

@media screen and (max-width: 992px) {
  .navbar-collapse.collapse {
    display: reset;
  }
}

.hamburger-menu {
  background: none;
  border: none;
  display: inline-block;
  .icon-bar {
    background-color: #757b8f;
    display: block;
    height: 4px;
    margin: 0 auto 4px;
    width: 30px;
  }
}

@media print {
  .pr01 {
    padding: 0px 0px;
    background: white;
    border: 0px none;
  }
}